<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.dao.OrderDao">

  

  <resultMap id="BaseResultMap" type="com.api.model.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="ct" jdbcType="TIMESTAMP" property="ct" />
    <result column="mt" jdbcType="TIMESTAMP" property="mt" />
  </resultMap>
  
  <sql id="BaseColumnList">
    id, user_id, total_price, status, ct, mt
  </sql>
  
  <insert id="insert" parameterType="com.api.model.Order">
    INSERT INTO order (id, user_id, total_price, 
      status, ct, mt)
    VALUES (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{totalPrice,jdbcType=DOUBLE}, 
      #{status,jdbcType=TINYINT}, #{ct,jdbcType=TIMESTAMP}, #{mt,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO order (id, 
      user_id, total_price, status, 
      ct, mt)
    VALUES <foreach collection="list" index="index" item="item" separator=","> (#{item.id,jdbcType=BIGINT}, 
      #{item.userId,jdbcType=BIGINT}, #{item.totalPrice,jdbcType=DOUBLE}, #{item.status,jdbcType=TINYINT}, 
      #{item.ct,jdbcType=TIMESTAMP}, #{item.mt,jdbcType=TIMESTAMP}) </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.api.model.Order">
    INSERT INTO order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="ct != null">
        ct,
      </if>
      <if test="mt != null">
        mt,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        #{ct,jdbcType=TIMESTAMP},
      </if>
      <if test="mt != null">
        #{mt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM order
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.api.model.Order">
    UPDATE order
    SET user_id = #{userId,jdbcType=BIGINT},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      status = #{status,jdbcType=TINYINT},
      ct = #{ct,jdbcType=TIMESTAMP},
      mt = #{mt,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateSelective" parameterType="com.api.model.Order">
    UPDATE order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        ct = #{ct,jdbcType=TIMESTAMP},
      </if>
      <if test="mt != null">
        mt = #{mt,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT 
    <include refid="BaseColumnList" />
    FROM order
    WHERE id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByIds" resultMap="BaseResultMap">
    SELECT 
    <include refid="BaseColumnList" />
    FROM order
    WHERE id IN <foreach close=")" collection="list" item="item" open="(" separator=","> #{item}  </foreach> 
  </select>
  
  <select id="selectByEntity" parameterType="com.api.model.Order" resultMap="BaseResultMap">
    SELECT 
    <include refid="BaseColumnList" />
    FROM order
    <where>
      <if test="userId != null">
         AND user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="totalPrice != null">
         AND total_price = #{totalPrice,jdbcType=DOUBLE}
      </if>
      <if test="status != null">
         AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="ct != null">
         AND ct = #{ct,jdbcType=TIMESTAMP}
      </if>
      <if test="mt != null">
         AND mt = #{mt,jdbcType=TIMESTAMP}
      </if>
    </where>
    <if test="orderBy != null">
      ORDER BY ${orderBy}
    </if>
  </select>
  
  <select id="countByEntity" parameterType="com.api.model.Order" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM order
    <where>
      <if test="userId != null">
         AND user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="totalPrice != null">
         AND total_price = #{totalPrice,jdbcType=DOUBLE}
      </if>
      <if test="status != null">
         AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="ct != null">
         AND ct = #{ct,jdbcType=TIMESTAMP}
      </if>
      <if test="mt != null">
         AND mt = #{mt,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  
  <!-- 以下部分人工添加或修改 -->
  
</mapper>